# Laravel & PHP
bootstrap/cache/*
.phpunit.result.cache
.cache
.dusk.env
.php_cs.cache
.phpunit.cache

# Environment

.env.backup
.env.production
.env



# Build assets
/public/hot
/public/storage
/public/build/*
!/public/build/manifest.json

# Storage
/storage/app/*
!/storage/app/public/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Homestead
Homestead.json
Homestead.yaml

# Logs
npm-debug.log
yarn-error.log

# IDEs
/.fleet
/.idea
/.vscode

# OS metadata
.DS_Store
Thumbs.db
